# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
gangwar_ref
*.zip
*.7z
fgw.zip

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
__pycache__/
build/
*.lock

# Android related
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
/android/local.properties
/android/key.properties
/android/app/src/main/res/values/google-services.json

# iOS/macOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/macos/Flutter/Generated.xcconfig
**/macos/Flutter/ephemeral/
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/macos/Runner/GeneratedPluginRegistrant.h
/macos/Runner/GeneratedPluginRegistrant.m

# Web related
/web/stack.trace

# Specific directory requested to be ignored
# /gangwar_ref/

# Other artifacts
*.tar.gz
# Widget Preview related
.widget_preview/
